%div.page-header
  %h1 Zaloguj się

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|

  %div.form-group
    = f.label :email, "Adres email:"
    = f.email_field :email, class: 'form-control'
    = f.error_message_on :email

  %div.form-group
    = f.label :password, "Hasło:"
    = f.password_field :password, class: 'form-control'
    = f.error_message_on :password


  %div.form-actions
    = f.submit 'Zaloguj się', class: 'btn btn-primary btn-lg'