= form_for(@user) do |f|

  %div.form-group
    = f.label :name, "Jak się nazywasz:"
    = f.text_field :name, autofocus: true, class: 'form-control'
    = f.error_message_on :name

  %div.form-group
    = f.label :email, "Twój adres email:"
    = f.email_field :email, class: 'form-control'
    = f.error_message_on :email

  %div.form-group
    = f.label :description, "Napisz kilka zdań o sobie:"
    = f.text_area :description, rows: 3, class: "form-control"
    = f.error_message_on :description

  %div.form-group
    = f.label :avatar, "Zdjęcie profilowe"
    = f.file_field :avatar
    = f.error_message_on :avatar

  %div.form-actions
    = f.submit 'Zaktualizuj profil', class: 'btn btn-primary btn-lg'
