%div.journey-card
  %div.jc-image
    = link_to journey do
      %h3.jc-title= journey.title
      = image_tag "http://placehold.it/320x240"
  %div.jc-details
    %div.jc-description
      = simple_format journey.short_description


    - if local_assigns.has_key? :edit

      %div.jc-actions

        = link_to "edycja", edit_journey_path(journey)
        = link_to "zobacz", journey_path(journey)
