- content_for :intro do
  %div.jd-cover{style: "background-image: url(#{@journey.cover.url(:large)})"}

    %div.jd-title
      .container
        %h1= @journey.title
        %p= @journey.short_description

%div.page-content

  %div.row
    %div.col-md-2
      = render partial: 'journeys/details/user', locals: {journey: @journey}
    %div.col-md-7
      = markdown @journey.long_description
    %div.col-md-3
      = render partial: 'journeys/details/info', locals: {journey: @journey}
