%header.header
  %nav{class: "navbar navbar-static-top #{navbar}"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Nawigacja
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'logo.png', alt: "trampa.pl"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "Duże Podróże", journeys_path
          %li= link_to "Szybkie Tripy", posts_path
          %li= link_to "Miejsca", places_path

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to 'Kokpit', dashboard_path
            %li= link_to 'Wyloguj się', destroy_user_session_path, :method=>'delete'
          - else
            %li= link_to 'Logowanie', new_user_session_path
            %li= link_to 'Rejestracja', new_user_registration_path
