!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Trampa.pl - podróże w grupie'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Trampa.pl - podróże w grupie'}"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if Rails.env == 'production'
      = render 'layouts/gat'
  %body
    - if content_for? :intro
      = render partial: 'layouts/header', locals: {navbar: 'navbar-transparent'}
      = yield :intro
    - else
      = render partial: 'layouts/header', locals: {navbar: 'navbar-inverse'}
      %div.container
        = render 'layouts/messages'
        - if content_for? :sidebar
          %div.row
            %div.col-md-9
              = yield
            %div.col-md-3
              = yield :sidebar
        - else
          = yield

    = render 'layouts/footer'
