!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Trampa.pl - podróże w grupie'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Trampa.pl - podróże w grupie'}"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if Rails.env == 'production'
      = render 'layouts/gat'
    = render 'layouts/header'
    - if content_for? :intro
      = yield :intro
    - if content_for? :root
      = yield :root
    = render 'layouts/messages'
    = yield
    = render 'layouts/footer'
